{
  "extends": "eslint:recommended",
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {
    "indent": ["error", 2],
    "linebreak-style": ["error", "unix"],
    "quotes": ["error", "single", { "allowTemplateLiterals": true }],
    "semi": ["error", "always"],
    "no-cond-assign": ["error", "always"],
    "no-console": "off",
    "no-trailing-spaces": "error",
    "no-const-assign": "error",
    "no-this-before-super": "error",
    "no-undef": "error",
    "no-unreachable": "error",
    "no-unused-vars": "error",
    "constructor-super": "error",
    "valid-typeof": "error",
    "valid-jsdoc": "error",
    "curly": "error",
    "arrow-parens": ["error", "as-needed"],
    "arrow-body-style": ["error", "always"]
  }
}