<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.google.transporttracker"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service
            android:name="com.google.transporttracker.TrackerService"
            android:enabled="true"
            android:exported="true">
        </service>

        <activity
            android:name="com.google.transporttracker.TrackerActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="sensorPortrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <receiver
            android:name="com.google.transporttracker.TrackerBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
            <intent-filter>
                <action android:name=".TrackerActivity.ALARM_ACTION_START"/>
            </intent-filter>
            <intent-filter>
                <action android:name=".TrackerActivity.ALARM_ACTION_END"/>
            </intent-filter>
        </receiver>

        <service android:name="com.google.transporttracker.TrackerTaskService"
                 android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE"
                 android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.gcm.ACTION_TASK_READY"/>
            </intent-filter>
        </service>

    </application>

</manifest>